---
layout: index
---

  <div class="container">


      <div class="row">

	    <h1>Applications</h1>

           <section class="row content">
            {% for application in site.data.applications %}
              <div class="zoekresultaat">
              <div class="beschrijving">
                <h4 class="capitalize">  {{ application.name }}</h4>
                <p> {{ application.description }} </p>
                <a href="{{ application.docs }}"> {{ application.docs }} </a>
                <a class="right" href="https://travis-ci.org/{{ application.travis }}"><img style= "margin: 0px 0px 0px 5px;" src="https://travis-ci.org/{{ application.travis }}.png?branch=master" alt="Build Status"></img></a>
                <a class="right" href="https://pypi.python.org/pypi/{{ application.pypi }}"><img style= "margin: 0px 0px 0px 5px;" src="https://badge.fury.io/py/{{ application.name }}.png"></img></a>
              </div>
              </div>
            {% endfor %}
            </section>

        <h1>Libraries</h1>

          <section class="row content">
            {% for library in site.data.libraries %}
              <div class="zoekresultaat">
              <div class="beschrijving">
                <h4 class="capitalize">  {{ library.name }}</h4>
                <p> {{ library.description }} </p>
                <a href="{{ library.docs }}"> {{ library.docs }} </a>
                <a class="right" href="https://travis-ci.org/{{ library.travis }}"><img style= "margin: 0px 0px 0px 5px;" src="https://travis-ci.org/{{ library.travis }}.png?branch=master" alt="Build Status"></img></a>
                <a class="right" href="https://pypi.python.org/pypi/{{ library.pypi }}"><img style= "margin: 0px 0px 0px 5px;" src="https://badge.fury.io/py/{{ library.name }}.png"></img></a>
              </div>
              </div>
            {% endfor %}
            </section>

        </div>