<!doctype html>

<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<html>
  <head>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width">

    <title>Onroerend Erfgoed</title>
    <link rel="shortcut icon" href="../pyoes/static/favicon.ico" />

    <script src="../pyoes/static/js/vendor/custom.modernizr.js"></script>

    <script type="text/javascript" src="//use.typekit.net/znn6biy.js"></script>

    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

    <link rel="stylesheet" href="../pyoes/static/css/app.css">

    <style>
        h4.capitalize {text-transform:capitalize;}
    </style>

  </head>

  <body>
        <header class="header">
            <div class="row upper-header">
                <div class="small-3 columns">
                    <hgroup class="site-title">
                    <h1><a class="block" href="/">Onroerend erfgoed</a></h1>
                    </hgroup>
                </div>
                <div class="small-9 columns">
                        <br /><br />  <br /><br />  <br /><br />  <br />

                    <div class="row">
                        <div class="small-8 columns main-nav-wrapper">
                            <nav class="main-nav">
                                <ul>
                                    <li class="active"><a href="/">Projects</a></li>
                                    <li><a href="/">Blog</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lower-header">
                <div class="row relative">
                    <img class="overlay-sub" src="../pyoes/static/img/light-banner.png" />
                </div>
            </div>
        </header>


  {{ content }}

      <footer class="footer">
          <div class="row">
              <div class="small-8 columns small-footer">
                <span class="icon icons-overheid"></span>
                    <div class="info">
                        <p>&copy; 2013 Onroerend Erfgoed</p>
                        <nav class="footer-nav">
                            <ul>
                                <li> <a href="/toegankelijkheid">Toegankelijkheid</a></li>
                                <li> <a href="/juridische-informatie">Juridische Informatie</a></li>
                            </ul>
                        </nav>
			    </div>
              </div>
          </div>
      </footer>

    </div>
  </body>
</html>